<style>
  .button-container {
    margin-top: 5px;
  }

  .claim-button {
    margin-top: 5px;
    padding: 3px 5px;
    color: #fff;
    border-radius: 4px;
  }

  .claim-button:hover {
    color: #fff;
  }

  .confirm-button {
    background-color: #1AB394;
  }

  .reject-button {
    background-color: #ED5565;
  }

  .go-to-button, .go-to-button:hover {
    color: #23527c;
  }
</style>

<div>
  Shift in <b>{{areaName}}</b> area in <b>{{sectionName}}</b> section on {{date}} has been claimed by
  <b>{{username}}</b>

  <p class="button-container">
    <a href="{{confirmClaimUrl}}" class="claim-button confirm-button">Confirm</a>
    <a href="{{rejectClaimUrl}}" class="claim-button reject-button">Reject</a>

    <a href="{{rosterUrl}}" class="claim-button go-to-button" data-link-type="navigation">Go to roster</a>
  </p>
</div>