<div>
  Hi {{name}},<br><br>
  You've been added to the {{areaName}} area.<br>
  To complete registration go on this link: <a href="{{url}}">{{url}}</a><br><br>
  If you have any questions let me know.<br>
  {{sender}}
</div>