<div>
  <p>Hello, {{recipientName}}</p>

  <p>I want to take time off from {{startDate}} to {{endDate}}</p>

  <p>Please, review my <a type="link" href="{{leaveRequestLink}}">leave request</a>.</p>

  <div>
    <button><a href="{{approveLeaveRequestUrl}}" target="_blank">Approve</a></button>
    <button><a href="{{declineLeaveRequestUrl}}" target="_blank">Decline</a></button>
  </div>
</div>